<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
      </div>
  
      <!-- Login Form -->
      <form>
        <img src="https://udeyou.s3.sa-east-1.amazonaws.com/udeyou-logo.png" alt="">
        <div class="controles">
          <input type="text" name="email" class="input" [(ngModel)]="email">
          <button id="btn-pedido" class="btn" type="submit" class="fadeIn fourth" (click)="emitirConfirmacao()" (click)="goToLink('https://udeyou.herokuapp.com/login')">
            Enviar
          </button>
        </div>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Esta página recebe suporte da Udeyou</a>
      </div>
  
    </div>
</div>
